################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/POO/v17
/.vs
/CreditOrganizer/x64/Debug
